.react-calendar__tile--now {
  background: #795548;
  color: white;
}

.react-calendar__tile--active {
  background: #81c784;
  color: white;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #81c784;
}

.react-calendar {
  border: 0px;
}
